# Dependencies
node_modules/
.pnp
.pnp.js

# Production
.next/
out/
build/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem
.vercel
